.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");   
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 4px solid #ffd700;
}

.panel {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.square {
    height: 150px;
    width: 150px;
    border: 3px solid rgb(103, 102, 102);
    background-color: #000000;
    background-image: url("../images/window.png");
    background-size: contain
}

.enemy {
    background-image: url("../images/ralph.png");
    background-size: cover;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-lives img {
    height: 60px;
}

.menu-time h2:nth-child(2), 
.menu-score h2:nth-child(2) {
    margin-top: 1rem;
}

.retry-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.retry-button button {
    height: 40px;
    width: 200px;
}

.hidden {
    display: none;
}
.show {
   display: inline;
}